//Colors
$primary: #51cf66;
$primary-teal: #8ce99a;
$primary-shadow: #37b24d;
$light: #e9ecef;
$light-teal: #f8f9fa;
$dark: #495057;
$dark-teal: #adb5bd;
$remove-color: #fa5252;

//Breakpoints
$xsm: 250px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//Card
$card-width: 18rem;
$card-border-radius: 0.5rem;
$card-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

//Global
$border-radius: 1.5rem;
$box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
